/* all the styling needed for selectors */
body {
  font-size: 16px;
  color: #2b283a;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

header {
  background-color: #5f29a3;
}

footer {
  text-align: center;
  color: #5f29a3;
}

h1 {
  color: whitesmoke;
  font-size: 36px;
  margin: 0;
}

h2 {
  margin-top: 0;
}

h3 {
  color: #d0aaff;
  font-size: 20px;
  margin: 0;
}

p {
  line-height: 23px;
}

/* allows for nicer styling of text links / buttons */

a {
  color: #ef5839;
}

.button-color {
  padding: 10px 19px;
  border-radius: 4.6px;
  font-weight: 500;
  text-decoration: none;
}

.button-color:hover {
  background-color: #f3e885;
  color: #2b283a;
}

.buy-btn {
  background-color: #5f29a3;
  color: whitesmoke;
}

.inf-btn {
  background-color: #d0aaff;
  color: #5f29a3;
}

.abt-btn {
  background-color: whitesmoke;
  color: #5f29a3;
}

.cont-btn {
  background-color: #f0e0ff;
  color: #5f29a3;
}

section,
footer,
header {
  padding: 45px 0;
}

/* to center everything */

section,
main,
.section-two {
  margin: 0px;
}

.container {
  width: 620px;
  margin: auto;
}

.section-two {
  background-color: #5f29a3;
  color: whitesmoke;
}

.imgcontainer {
  display: flex;
  justify-content: space-between;
}

/* make sure the img doesnt overtake the screen */
.main-image {
  width: 100%;
}

.imgs {
  width: 300px;
  border-radius: 4.6px;
}
